<?xml version="1.0" encoding="UTF-8"?>

<beans>
    <bean id="javaBean" class="note_4.reflect.Imp_BeanFactory.JavaBean">
       <property name="userName">
           <value>Mx</value>
       </property>
       <property name="password">
           <value>1234567890</value>
       </property>
    </bean>
</beans>